---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div
  class:list={[
    "mx-auto px-5",
    // When a TOC is enabled (by including "xl:max-w-[1200px]"), at xl the outer container becomes wider (1200px)
    // and also positioned relative so that the fixed TOC can be placed correctly.
    className?.includes("xl:max-w-[1200px]") ? "xl:relative xl:max-w-[1200px]" : "max-w-screen-sm",
    className,
  ]}
>
  {/** Centered text container that is fixed to 640px regardless of outer container width **/}
  <div class="w-full max-w-[640px] mx-auto">
    <slot />
  </div>
  
  {/** Fixed-position TOC for XL screens **/}
  {className?.includes("xl:max-w-[1200px]") && (
    <div
      class="hidden xl:block fixed top-24 left-[calc(50%+340px)] h-[calc(100vh-6rem)] w-[250px] overflow-y-auto"
    >
      <div class="pl-8 border-l border-black/10 dark:border-white/10">
        <slot name="toc" />
      </div>
    </div>
  )}
</div>
